* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: url("../IMG/fundo_roxo_deitado.png") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}


.login-container {
  background: #fff;
  width: 600px;
  padding: 60px 48px;
  border-radius: 16px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.header-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;            /* espaço entre logo e texto */
  margin-bottom: 10px;  /* espaço abaixo do título */
}

.logo-inline {
  width: 120px;          /* tamanho da logo */
  height: auto;
}

.header-login h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 600;
  color: #111;
}


h1 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #111;
}

p {
  color: #666;
  font-size: 14px;
  margin-bottom: 32px;
}

label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #111;
  font-weight: 500;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1px solid #e6e6e9;
  border-radius: 6px;
  background-color: #f4f4f6;
  font-size: 14px;
  color: #111;
}

input:focus {
  outline: none;
  border-color: #000;
  background-color: #fff;
}

.btn {
  width: 100%;
  background-color: #060616;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.btn:hover {
  background-color: #000;
}

.divider {
  margin: 20px 0;
  border-top: 1px solid #e6e6e9;
  position: relative;
}

.divider::after {
  content: "ou";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 0 8px;
  color: #666;
  font-size: 13px;
}

.btn-outline {
  width: 100%;
  background-color: transparent;
  color: #111;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-outline:hover {
  background-color: #f4f4f6;
}

a {
  display: inline-block;
  margin-top: 16px;
  color: #5a5a7a;
  font-size: 13px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
