{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShowTime | Home</title>
  <link rel="stylesheet" href="/static/core/css/home.css?v=999">
</head>

<body>
 
  <!-- Fundo roxo -->
  <div class="page-bg"></div>

  <!-- Topbar -->
  <header class="topbar">
    <div class="brand">
      <img src="{% static 'core/img/Logo_nome_real.png' %}" alt="Logo ShowTime" class="logo">
      <span class="app-name">ShowTime</span>
    </div>
    <nav class="nav-actions">
      <a href="{% url 'favoritos' %}" class="link">Feed Social</a>
      <a href="{% url 'artistas' %}" class="link">Eventos</a>
      <a href="{% url 'sobre' %}" class="link">Sobre</a>
      {% if user.is_authenticated %}
    <p>Olá, {{ user.username }}</p>
    <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <p></p>
    <a href="{% url 'login' %}" class="botao">Login</a>
  {% endif %}


</nav>
    </nav>
  </header>

  <!-- Hero -->
  <main class="hero">
    <div class="hero-content">
      <div class="search-box">


<form action="{% url 'coringa_page' %}" method="get">
    <input
        type="text"
        name="q"
        id="searchArtist"
        placeholder="Buscar artistas, bandas ou eventos..."
        autocomplete="on"
    />
    <button type="submit">Buscar</button>
</form>


  <!-- lista que aparece embaixo -->
  <ul id="searchResults" class="search-results"></ul>
</div>

      <p class="tag">Nova plataforma</p>
      <h1>Conecte artistas e fãs em um só lugar.</h1>
      <p class="subtitle">
        Veja próximos shows, receba notícias em tempo real e compre ingressos originais de forma segura.
      </p>
      
      <div class="hero-actions">
        <a href="{% url 'artistas' %}" class="btn-primary big">Explorar agora</a>
        <a href="#" class="ghost"><a href="{% url 'sobre' %}" class="ghost">Ver como funciona</a></a>
      </div>
      <p class="small-info">Mais artistas serão adicionados no ShowTime.</p>
    </div>

    <div class="hero-preview">
      <h2>Atualizações recentes</h2>
      <div class="card-mini">
        <div>
           <a onclick="window.open('https://open.spotify.com/intl-pt/album/5ORsvI5ThmZw7PS1NTvZaB', '_blank')"" class="card-link"><strong>XTRANHO</strong></a>
          <p>Novo álbum de Matuê chama a galera do trap underground! — 10/12</p>
        </div>
        <span class="badge">essa semana</span>
      </div>

      <div class="card-mini">
        <div>
          <a onclick="window.open('https://mundodamusicamm.com.br/vevo-clipes-mais-vistos-2025/', '_blank')"" class="card-link"><strong>BRUNO MARS E LADY GAGA</strong></a>
          <p>Dominam o topo de ranking dos clipes mais vistos de 2025</p>
        </div>
        <span class="badge purple">2025!</span>
      </div>

      <div class="card-mini">
        <div>
          <a onclick="window.open('https://f5.folha.uol.com.br/musica/2025/12/premio-multishow-2025-consagra-joao-gomes-e-faz-homenagem-para-gilberto-gil.shtml', '_blank')"" class="card-link"><strong>JOÃO GOMES</strong></a>
          <p>Prêmio Multishow 2025 consagra João Gomes como principal artista do ano</p>
        </div>
        <span class="badge gray">prêmiação</span>
      </div>
    </div>
  </main>

  <!-- Destaques -->
  <section class="section">
    <div class="section-title">
      <h2>Destaques de hoje</h2>
    </div>

    <div class="cards-grid">
      <article class="card">
        <img src="{% static 'core/img/veigh_album.jpg' %}" alt="Show" onerror="this.style.display='none'">
        <h3>Veigh quebra recordes com “Eu Venci o Mundo”</h3>
        <p>Disco "Eu Venci o Mundo", de Veigh, já acumula mais de 30 milhões de streams.</p>
        <a onclick="window.open('https://mundodamusicamm.com.br/veigh-recordes-spotify/', '_blank')"" class="card-link">Ver detalhes →</a>
      </article>
      
      <article class="card">
        <img src="{% static 'core/img/rockinrio2.png'%}" alt="Tour" onerror="this.style.display='none'">
        <h3>Rock in Rio Card esgotou em um hora !</h3>
        <p>O Rock in Rio Card é o ingresso que te garante 1 (um) dia na Cidade do Rock. Você compra, garante sua presença e decide depois em qual dos dias de festival vai usar!</p>
         <a onclick="window.open('https://rockinrio.com/rio/pt-br/informacoes/', '_blank')"" class="card-link">Ver detalhes →</a>
      </article>
      </article>

      <article class="card">
        <img src="{% static 'core/img/ticket.jpg' %}" alt="Ingressos" onerror="this.style.display='none'">
        <h3>Saiba onde comprar o ingresso dos seus artistas favoritos !</h3>
        <p>Sem golpes, compre da fonte original.</p>
        <a href="{% url 'artistas' %}" class="card-link">Me leve até lá! →</a>
      </article>
    </div>
  </section>

  <!-- Shows sugeridos (carrossel) -->
  <section class="section carousel-section">
    <div class="section-title">
      <h2>Sugeridos para você</h2>
      
    </div>

    <div class="carousel">
      <article class="show-card">
        <div class="show-date">
          <span class="day">10</span>
          <span class="month">nov</span>
        </div>
        <div class="show-content">
          <h3>DOJA CAT • São Paulo</h3>
          <p>Suhai Music Hall • 21h</p>
          <button class="show-btn"
              onclick="window.open('https://www.ticketmaster.com.br/event/doja-cat', '_blank')">
              Ver ingresso
            </button>
        </div>
      </article>

     <article class="show-card">
        <div class="show-date purple">
          <span class="year">2026</span>
          <span class="month">out</span>
          <span class="day">10</span>
        </div>
        <div class="show-content">
          <h3>ROSALÍA • Rio</h3>
          <p>Farmasi Arena • 21h</p>
          <button class="show-btn"
              onclick="window.open('https://www.ticketmaster.com.br/event/rosalia', '_blank')">
              Ver ingresso
            </button>
        </div>
      </article>

      <article class="show-card">
        <div class="show-date green">
          <span class="year">2026</span>
          <span class="month">out</span>
          <span class="day">1</span>
        </div>
        <div class="show-content">
          <h3>DJAVAN • Rio</h3>
          <p>Farmasi Arena • Sem horário</p>
          <button class="show-btn"
              onclick="window.open('https://www.ticketmaster.com.br/event/djavan', '_blank')">
              Ver ingresso
            </button>
        </div>
      </article>

      <article class="show-card">
        <div class="show-date">
          <span class="year">2026</span>
          <span class="month">fev</span>
          <span class="day">27</span>
        </div>
        <div class="show-content">
          <h3>RÜFÜS DU SOL • São Paulo</h3>
          <p>Arena Pacaembu • 23h</p>
          <button class="show-btn"
              onclick="window.open('https://www.ticketmaster.com.br/event/rufus-du-sol', '_blank')">
              Ver ingresso
            </button>
        </div>
      </article>

      <article class="show-card">
        <div class="show-date purple">
          <span class="year">2026</span>
          <span class="month">abr</span>
          <span class="day">30</span>
        </div>
        <div class="show-content">
          <h3>The Weekend • Estádio MorumBis</h3>
          <p>São Paulo • Sem Horário</p>
          <button class="show-btn"
              onclick="window.open('https://www.ticketmaster.com.br/event/the-weeknd', '_blank')">
              Ver ingresso
            </button>
        </div>
      </article>
    </div>
  </section>

  <!-- Artistas em alta -->
  <section class="section artists">
    <div class="section-title">
      <h2>Artistas em alta</h2>
      
    </div>

    <div class="artists-list">
      <div class="artist">
        <img src="/media/artists/Becoming-Led-Zeppelin.avif" alt="Led Zeppelin">
        <div>
          <strong>Led Zeppelin</strong>
          <span>Rock</span>
        </div>
        <a href="{% url 'coringa_page' %}?q=Led Zeppelin" class="show-btn">
    <h>Ver página</h>
</a>
      </div>
      <div class="artist">
        <img src="/media/artists/Drake-1-1024x683.jpeg" alt="Drake">
        <div>
          <strong>Drake</strong>
          <span>Hip-Hop / Rap</span>
        </div>
        <a href="{% url 'coringa_page' %}?q=Drake" class="show-btn">
    <h>Ver página</h>
</a>
      </div>
      <div class="artist">
        <img src="/media/artists/ferrugem-em-curitiba-scaled-e1718824985333.jpg.webp" alt="Drake">
        <div>
          <strong>Ferrugem</strong>
          <span>Samba / Pagode</span>
        </div>
        <a href="{% url 'coringa_page' %}?q=Ferrugem" class="show-btn">
    <h>Ver página</h>
</a>
      </div>
    </div>
  </section>
  {% include 'core/footer.html' %}
  <script>
  const ARTISTAS = [
  // 🎤 Brasileiros
  "Veigh",
  "LUDMILLA",
  "Anitta",
  "Alcione",
  "Djavan",
  "Péricles",
  "Ferrugem",
  "Liniker",
  "Gloria Groove",
  "IZA",
  "Léo Santana",
  "Ivete Sangalo",
  "Claudia Leitte",
  "Zeca Pagodinho",
  "Seu Jorge",
  "Gilberto Gil",
  "Caetano Veloso",
  "Maria Bethânia",
  "Marisa Monte",
  "Chico Buarque",
  "Gal Costa",
  "Milton Nascimento",
  "Elis Regina",
  "Zezé Di Camargo & Luciano",
  "Jorge & Mateus",
  "Henrique & Juliano",
  "Maiara & Maraisa",
  "Zé Neto & Cristiano",
  "Gusttavo Lima",
  "Ana Castela",
  "Luan Santana",
  "Sandy & Junior",
  "NX Zero",
  "Fresno",
  "Lagum",
  "Natiruts",
  "Melim",
  "Skank",
  "Jota Quest",
  "Capital Inicial",
  "Titãs",
  "Os Paralamas do Sucesso",
  "Detonautas",
  "Mamonas Assassinas",
  "Racionais MCs",
  "Emicida",
  "Projota",
  "Mano Brown",
  "Karol Conká",
  "MC Cabelinho",
  "MC Hariel",
  "MC Ryan SP",
  "MC Kevin o Chris",
  "Kevin o Chris",
  "POCAH",
  "Tz da Coronel",
  "Kayblack",
  "Matue",
  "Teto",
  "Wiu",
  "Orochi",
  "Derek",
  "Borges",
  "Cabelinho",
  "Veigh",
  "Yunk Vino",
  "Ryu The Runner",
  "FBC",
  "Djonga",
  "BK’",
  "Rashid",
  "Criolo",
  "Sabotage",

  // 🌍 Internacionais
  "Drake",
  "Dua Lipa",
  "The Weeknd",
  "Rihanna",
  "Beyoncé",
  "Billie Eilish",
  "Post Malone",
  "Travis Scott",
  "SZA",
  "Kendrick Lamar",
  "J. Cole",
  "Nicki Minaj",
  "Doja Cat",
  "Ariana Grande",
  "Bruno Mars",
  "Ed Sheeran",
  "Taylor Swift",
  "Harry Styles",
  "Olivia Rodrigo",
  "Sam Smith",
  "Lana Del Rey",
  "Miley Cyrus",
  "Justin Bieber",
  "Shawn Mendes",
  "Selena Gomez",
  "Camila Cabello",
  "Bad Bunny",
  "Rosalía",
  "Karol G",
  "Maluma",
  "J Balvin",
  "Daddy Yankee",
  "Ozuna",
  "Peso Pluma",
  "Coldplay",
  "Imagine Dragons",
  "OneRepublic",
  "Maroon 5",
  "Linkin Park",
  "Arctic Monkeys",
  "Foo Fighters",
  "Green Day",
  "Nirvana",
  "The Killers",
  "Paramore",
  "Fall Out Boy",
  "Panic! At The Disco",
  "Muse",
  "Red Hot Chili Peppers",
  "Metallica",
  "Guns N’ Roses",
  "Queen",
  "AC/DC",
  "Pink Floyd",
  "Led Zeppelin",
  "U2",
  "The Rolling Stones",
  "The Beatles",
  "ABBA",
  "Elton John",
  "Michael Jackson",
  "Prince",
  "Whitney Houston",
  "Celine Dion",
  "Adele",
  "Lady Gaga",
  "Shakira",
  "Enrique Iglesias",
  "Justin Timberlake",
  "Eminem",
  "50 Cent",
  "Jay-Z",
  "Kanye West",
  "Lil Nas X",
  "Tyler, The Creator",
  "Frank Ocean",
  "The Neighbourhood",
  "Tame Impala",
  "Lorde",
  "The 1975",
  "Imagine Dragons",
  "Bastille",
  "Glass Animals",
  "The Chainsmokers",
  "Zedd",
  "David Guetta",
  "Calvin Harris",
  "Avicii",
  "Swedish House Mafia",
  "Martin Garrix",
  "Kygo",
  "Marshmello",
  "Skrillex",
  "Diplo",
  "Major Lazer",
  'One direction'
];
const input = document.getElementById("searchArtist");
  const resultsBox = document.getElementById("searchResults");

  // mostra sugestões conforme digita
  input.addEventListener("input", function () {
    const termo = this.value.toLowerCase().trim();

    if (!termo) {
      resultsBox.style.display = "none";
      resultsBox.innerHTML = "";
      return;
    }

    // filtra
    const filtrados = ARTISTAS.filter((nome) =>
      nome.toLowerCase().includes(termo)
    ).slice(0, 10); // no máx 10

    // se não achou nada
    if (filtrados.length === 0) {
      resultsBox.innerHTML =
        '<li><span>Nenhum artista encontrado</span></li>';
      resultsBox.style.display = "block";
      return;
    }

    // monta a lista
    resultsBox.innerHTML = filtrados
      .map(
        (nome) => `
        <li data-valor="${nome}">
          <span>${nome}</span>
          <small>ver perfil</small>
        </li>
      `
      )
      .join("");

    resultsBox.style.display = "block";
  });

  // clique na sugestão
  resultsBox.addEventListener("click", function (e) {
    const li = e.target.closest("li");
    if (!li) return;
    const valor = li.getAttribute("data-valor");
    input.value = valor;
    resultsBox.style.display = "none";

    // aqui você pode redirecionar se quiser:
    // window.location.href = "/artista/" + encodeURIComponent(valor);
  });

  // fecha se clicar fora
  document.addEventListener("click", function (e) {
    if (!e.target.closest(".search-box")) {
      resultsBox.style.display = "none";
    }
  });
</script>
</body>
</html>