{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Login</title>

  <!-- CSS do Django -->
  <link rel="stylesheet" href="{% static 'core/css/usuario.css' %}">
</head>
<body>
  <div class="login-container">
    <div class="header-login">
      <!-- usa static pra imagem também -->
      <img src="{% static 'core/img/Logo_nome_real.png' %}" alt="Logo da empresa" class="logo-inline">
      <h1>Bem-vindo</h1>
    </div>

    <p>Entre com suas credenciais para acessar sua conta</p>

    <form>
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="seu@email.com" required>

      <label for="senha">Senha</label>
      <input type="password" id="senha" placeholder="••••••••" required>

      <button type="submit" class="btn">Entrar</button>
    </form>

    <div class="divider"></div>

    <button class="btn-outline">Criar conta</button>

    <p><a href="#">Esqueceu sua senha?</a></p>
  </div>
</body>
</html>
